.ge-sample-bake-node-part {
    flex-direction: row;
}

.ge-sample-bake-node-part .ge-editable-label {
    flex-grow: 1;
}

.group-label-text
{
    -unity-font-style: bold-and-italic;
    -unity-text-align: middle-center;
}